/* *,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
:root {
    --primaryColor: rgb(255, 255, 255);
    --secondaryColor: rgb(182, 234, 234);
    --tertiaryColor: rgb(56, 63, 63);
    --quaternaryColor:  rgb(83, 247, 247);
    --font-size: 110%;
}

header{
 background-color: var(--primaryColor);
 box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.6);
 font-size: var(--font-size);
}

footer {
    background-color: var(--primaryColor);
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 0.6);
    font-size: var(--font-size);  
} */
main {
    /* background: rgb(63,212,251); */
    background: radial-gradient(circle, rgba(63,212,251,1) 0%, rgba(252,70,107,1) 100%);

}
h1 {
    font-size: 10rem;
    box-shadow: 0 .5rem 2rem rgba(12, 121, 230, 0.6);
}
h2 {
    font-size: 5rem;
}

.landing-page {
    background-image: url(../assets/images/southkorea1.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    object-fit: cover;

}

#checkout-body{
    background-image: url(../assets/images/japan1.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    object-fit: cover;
}

.navbar,h1, h2 {
    box-shadow: 0 .5rem 1rem rgba(12, 121, 230, 0.6);
}
.card {
    box-shadow: 0 .5rem 2rem rgba(12, 121, 230, 0.6);
}

button:hover, a:hover {
    background-color: rgb(25, 151, 189) !important;
}